@media (min-width: 992px) {
    .nav-block {
        display: block;
    }
}

@media (max-width: 991px) {
    .nav-block {
        display: none;
        position: absolute;
        z-index: 3;
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        left: 0;
        top: 60px;
        background: #449d44;
    }

    .nav-block ul li {
        display: block;
        text-align: center;
        padding: 10px 0;
    }

    .nav-block li a {
        display: block;
        font-size: 18px;
        font-family: Roboto-Regular,sans-serif;
        line-height: 30px;
        color: #000;
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        width: 100%;
    }

    .nav-block li a:hover {
        color: #000;
    }

    .nav-button {
        display: block;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .iphone-counter {
        width: 250px;
        margin-top: 20px;
    }



    .div-container {
        margin-left: 40px;
    }

    .buttons-list {
        width: 300px;
        height: 430px;
        border: 0;
    }

    .buttons-list li:nth-child(3) {
        margin: 15px 0;
    }

    .buttons-list li:nth-child(3) a {
        right: 0;
    }

    .buttons-list li:nth-child(even) a {
        right: 0;
    }

    .buttons-list li:first-child a,.buttons-list li:last-child a {
        right: 0;
    }

    .div-container h2 {
        margin-bottom: 20px;
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .meal-time .container {
        flex-direction: column;
    }

    .iphone-counter {
        display: none;
    }

    .buttons-list {
        flex-direction: row;
        height: auto;
        align-items: center;
        border: none;
    }

    .tabs {
        flex-direction: column;
    }

    .buttons-list li:nth-child(3) a {
        right: 0;
    }

    .buttons-list li:nth-child(even) a {
        right: 0;
    }

    .buttons-list li:first-child a,.buttons-list li:last-child a {
        right: 0;
    }

    .div-container {
        margin-left: 0;
        text-align: center;
    }


}
